<div class="input">
    <label class="input__label" for="{{name}}">
        <input class="input__element 
            {{#if (and (eq type 'password') error)}}input__element_is-invalid{{/if}}" 
            type="{{type}}" 
            name="{{name}}" 
            id="{{name}}" 
            value="{{value}}" 
            placeholder=" "
            required="{{required}}"
            maxlength="18"
        >
        <span class="input__placeholder">{{placeholder}}</span>
    </label>
    {{#if errorText}}
        <p class="input__error-text">{{errorText}}</p>
    {{/if}}
</div>